@model IEnumerable<OWN.GroupProject2.Objects.Book>

@{
    ViewData["Title"] = "View";
}
@*
    -MAIN BOOK LIST

    includes:
    *create new book action link
    *main book table with respective btns
        -edit
        -delete
    *table heads
    *loop to add items to list

    TODO:
    *intigtate SQL table get
    *add new book functinality
    *edit view btn functinality
    *delete btn functinality

    low prio:
    *layout editing
*@

<h1>BOOK LIST</h1>

<p>
    <a asp-action="Create">ADD NEW BOOK</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pages)
			</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Pages)
				</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
				</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
				</td>
            </tr>
        }
    </tbody>
</table>

